<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p style="padding-bottom: 16px">This site is created by Anshul Kishore. It uses data from mapbox.com and weatherstack.com!</p>
            <img class="portrait" src="/img/me.JPG">
            <p style="padding-top: 16px">To know more about me you can visit <a id="portfolio" href="https://ecstatic-swanson-42bc51.netlify.app/">https://ecstatic-swanson-42bc51.netlify.app/</a></p>
            
        </div>
        
        {{>footer}}
    </body>
</html>