body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background: linear-gradient(to bottom, #C68BFF, #E2C7FC, #ffffff);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

#portfolio {
    color: #DF0202;
    margin-right: 16px;
    text-decoration: none;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    padding: 16px 0;
    margin-top: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: #7a7a7a;
    margin-right: 16px;
    text-decoration: none;
}


h1 {
    font-size: 64px;
    margin-bottom: 16px;
    color: #ffffff;
}

.portrait {
    width: 250px;
    border-radius: 150px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.weatherContent {
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: normal;
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

#d2{
    padding-right: 20px;
}